<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DMTools Analytics App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="master-container">
    {% include 'base/header.html' %}
    <div class="container">
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'base/footer.html' %}
    </div>
   {% block scripts %}{% endblock %}
</body>
</html>
