{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
{% endblock %}

{% block content %}

<header class='master-header'>
    <div class='navigation-header'>
    {% include 'base/navigation.html' %}
    </div>
    <div class='title-header'>
    <h1>DMTools Analytics Website</h1>
    </div>
     <!-- Back and Home Buttons -->
    <div class="button-container">
        <!-- Back button to navigate back -->
        <button class="btn back-button" onclick="goBack()">Back</button>
    
        <!-- Home button to navigate to the home page -->
        <a href="{{ url_for('standard_bp.home') }}" class="btn">Home</a>
     </div>
</header>

{% endblock %}
