.dynamic-form-container {
            padding: 0px 0px;
            justify-content: center; /* Align horizontal */
            align-items: center; /* Align vertical */
            width : calc(var(--screen-width) - 0px);
            height : calc(var(--screen-height) - 20px);
            background-color: blue;
            border-style: solid;
            border-width: 0px;
            border-color: blue;
        }

table {
    width: calc(var(--screen-width) - 0px);
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
.filter-row input {
    width: calc(var(--screen-width) - 0px)
    box-sizing: border-box;
    padding: 4px;
}
.filter-row th {
    background-color: #eaeaea;
}
.actions {
    margin-top: 20px;
}
.actions input, .actions button {
    margin-right: 10px;
}
    
