.master-header {
  width: 100%;
  height: 50px; /* Adjust as needed */
  background-color: SaddleBrown;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.navigation-header {
  padding-left: 10px; /* Optional padding */
}


.title-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.title-header h1 {
  margin: 0;
  font-size: 18px;
}

.button-container {
  margin-left: auto;
  padding-right: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  font-size: 15px;
  cursor: pointer;
  background-color: SaddleBrown;
  color: black;
  padding: 5px 5px;
  border: none;
  text-decoration: none;
  display: inline-block;
  line-height: 25px;
  border-radius: 5px;
  text-align: center;
  height: 30px;
}

.btn:hover {
  background-color: darkorange;
}

