/* Style for the slide-out panel */
.side-panel {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #D3B683;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}

/* Panel content styles */
.side-panel a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
}

.side-panel a:hover {
    background-color: #D3B683.;
}

/* Toggle button style */
.open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #795548;
    color: black;
    padding: 10px 15px;
    border: none;
}
