/* Style for the slide-out panel */
.side-panel {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 25px;
    left: -250px;
    background-color: SaddleBrown;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 0px;
    z-index: 1000;
}

/* Panel content styles */
.side-panel a {
    padding: 0px 0px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
}

.side-panel a:hover {
    background-color: SaddleBrown;
}

/* Toggle button style */
.open-btn {
    font-size: 15px;
    cursor: pointer;
    position : fixed;
    top : 0;
    background-color: SaddleBrown;
    color: black;
    padding: 0px 0px;
    border: none;
}
