{% extends 'base/base.html' %}

{% block title %}Dynamic View{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dynamic_view.css') }}">
{% endblock %}

{% block content %}
<div class='dynamic-form-container'>
    <!-- Table -->
    <table id="dataTable">
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column.label }}</th>
                {% endfor %}
            </tr>
            <tr class="filter-row">
                {% for column in columns %}
                <th><input type="text" id="{{ column.key }}Filter" oninput="filterTable()" placeholder="Filter {{ column.label }}"></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for column in columns %}
                <td>{{ row[column.key] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Optional form for clearing filters -->
    <div class="actions">
        <button onclick="clearForm()">Clear Filters</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
window.tableData = {{ data|tojson }};
window.tableColumns = {{ columns|tojson }};
</script>

<!-- Link to external JavaScript file -->
<script src="{{ url_for('static', filename='js/dynamic_view.js') }}"></script>
{% endblock %}



  
