<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }} List</title>
</head>
<body>
    <h1>{{ subject }}</h1>
    <a href="{{ url_for('forms_bp.create_item', subject=subject) }}">Create New {{ subject }}</a>
    <ul>
        {% for item in items %}
        <li>
            {{ item }}
            <a href="{{ url_for('forms_bp.update_item', subject=subject, item_id=item['id']) }}">Edit</a>
            <a href="{{ url_for('forms_bp.delete_item', subject=subject, item_id=item['id']) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
