<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Table with Column Widths</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Table with Dynamic Column Widths</h1>

    <table>
        <thead>
           <tr>
                {% for column, width in column_widths.items() %}
                      <th style="width: {{ width }}%;">{{ column.capitalize() }}</th>
                {% endfor %}
               <th style="width: 5%;">View</th>
         </tr>
        </thead>
        <tbody>
                {% for row in data %}
                    <tr>
                        {% for column in column_widths.keys() %}
                            <td>{{ row[column] }}</td>
                        {% endfor %}
                        <td>
                        <!-- Link to the chart route with the selected item ID -->
                        <a href="{{ url_for('viewing_dp.view_details', id=row['id'], subject=row['subject'] ) }}">View Detail</a>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</body>
</html>
