<div class="container">
    <div class="square-container">
        <div class="square-title-container">Chart Title</div>
        <div class="square-vertical-text-container">Vertical Text</div>
        <div class="square-description-container">
           <p>Screen Width: <span id="width"></span>px</p>
           <p>Screen Height: <span id="height"></span>px</p>
        </div>
        <div class="square-figure-container">Fig Reference: </div>
    </div>
    
    <div class="oblong-container">
        <div class="oblong-title-container">Oblong Title</div>
        <div class="oblong-vertical-text-container">Obl Vert Text</div>
        <div class="oblong-description-container">
           <p>Legend Here!</p>
        </div>
        <div class="oblong-figure-container">oblong Reference: </div>
    </div>
    
</div>
