 {% extends 'base/base.html' %}

{% block title %}CSS Variable{% endblock %}

{% block head %}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/css_variable.css') }}">
    <script src="{{ url_for('static', filename='js/css_variable.js') }}" defer></script>
{% endblock %}

{% block content %}
  <h1>Check Console for CSS Variable Value</h1>
  <p>Width: <span id="width"></span></p>
  <p>Height: <span id="height"></span></p>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
