{% extends 'base/base.html' %}

{% block title %}Data Chart{% endblock %}

{% block content %}

<style>
        /* Make the container div responsive */
        .plot-container {
            width: 100vw;
            height: 80vh;
            max-width: 100vw;
            max-height: 80vh;
        }

        /* Ensure the image fills the container div */
        .plot-container img {
            width: 100%;
            height: auto;  /* Preserve aspect ratio */
            display: block; /* Remove any gaps below the image */
        }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot for ID {{ id }}</title>
</head>
<body>
    <div class="plot-container">
        <h1>Plot for Product ID {{ id }}</h1>
        <img src="data:image/png;base64,{{ plot_url }}" alt="Maximized Plot">
    </div>
</body>
    <a href="/">Go Back</a>
</body>

{% endblock %}

