.master-footer {
            width : 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height : 25px;
            background-color: SaddleBrown;
            color: black;
            display: flex;
            justify-content: center; /* Align horizontal */
            align-items: center; /* Align vertical */
            padding: 0;
            border-style: solid;
            border-width: 0px;
            border-color: SaddleBrown;
            font-size: 15px;
        }

