{% extends 'base.html' %}

{% block title %}Flask Dynamic Form{% endblock %}

{% block content %}

{% endblock %}

<h2>DMTools looks different!</h2>
<p><b> Here's the features that have been added: </b></p>
<p> - You can now make an exact duplicate of an existing plot </br>
- The "Greatest Hits" feature has been reworked. You can now nominate specific limits to be greatest hits </br>
- The "help" page has been improved. Example and template XML files are available for download from the help page</br>
- An FAQ page has been added </br>
- Inline examples have been added to the "add limit" and "edit limit" pages</br>
- Plots support units of pb, fb, and zb </br>
- Long plot legend labels automatically wrap to a new line instead of being cut off</br>
- Limits are now labeled as "direct". Indirect limits are not supported yet, but will be at some point in the future</br>
- While the aesthetics of the site have changed, the structure of the site is essentially the same
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</p>
