{% extends 'base.html' %}

{% block title %}Flask Dynamic Form{% endblock %}

{% block content %}

<h2>Help</h2>
<h3>User Accounts</h3>
<p>If you do not already have a user account, please create one (free & quick) by clicking on the New Account link at the top right corner of the webpage. Choose a login name and password, and enter your email address. You should promptly receive a confirmation email. Click the confirmation link in this email to activate your account.</p>
<h3>Creating and Editing Plots</h3>
<p>To create a new plot, click "Plots" in the left-side webpage header, and click on the "New plot >>" link immediately below. Enter a title for your plot. You will then be taken to the "Editing plot" screen, where you can select limits from the menu at the bottom of the page. Limits can be filtered using the selection boxes immediately above the limits menu. Select your x- and y- axis ranges, and click "Save & Render" to create your plot. Your plot should appear within 30 seconds.</p>
<h3>Copying an Existing Plot</h3>
<p>If you would like to create a duplicate copy of an existing plot, simply click the "copy" link next to the plot on the "plots" page. This will create an exact copy of the plot with the name " &#60; plotname &#62; copy".</p>

<h3>Downloading Plots</h3>
<p>After creation, to download your plot and the corresponding legend in PNG format, simply right-click the displayed image and download the image to your hard disk. To download the EPS formatted plot and legend, click on the "Download plot/legend in EPS format" link.</p>
<h3>Data Uploading</h3>
<p>The correct format for uploading data is as follows:<br/>
{[mass_1 cs_1; mass_2 cs_2; ... mass_n cs_n]}<br/>
Each pair of values is separated by a semicolon and each value in the pair is separated by a space. The entire set is then enclosed by hard brackets and then by curly braces.<br/> 
The mass values can <b>NOT</b> be written in scientific notation. </br>
<b>Please note: there is NO semicolon after the last mass-CS pair.</b><br/><br/>
Multiple data ranges can also be uploaded (e.g. for theoretical predictions):<br/>
{[mass_1_1 cs_1_1; mass_1_2 cs_1_2; ...],[mass_2_1 cs_2_1; mass_2_2 cs_2_2; ...]}<br/><br/>
This format is used for uploading both through an XML file and directly through the website.<br/>
At this time the data must be in units of GeV/c^2 for mass and cm^2 for cross-section.</p>
<h4>XML Uploading</h4>
<p>Valid limit tags are:</p>
<p>
- data-comment (a brief description of the dataset)<br/>
- data-label (officlal dataset label)<br/>
- data-reference (paper from which data was taken)<br/>
- data-values (mass-CS data points -- see above for formatting information)<br/>
- date-of-announcement (yyyy-mm-dd format, with 'type="date"' attribute inserted in the tag)<br/>
- date-of-run-start (yyyy-mm-dd format, with 'type="date"' attribute inserted in the tag)<br/>
- date-of-run-end (yyyy-mm-dd format, with 'type="date"' attribute inserted in the tag)<br/>
- default-color<br/>
-- One-letter abbreviations (Matlab standard -- r,o,y,g,c,b,m,w,k)<br/>
-- Full color words (e.g. Red)<br/>
-- dkr, dkg, dkb -- dark versions of r,g,b<br/>
-- ltr, ltg, ltb -- light versions of r,g,b<br/>
- default-style (Fill, Point, or Line)<br/>
- result-type (Theory, Proj, Exp)<br/>
- measurement-type-- leave as "Dir" --this will help with categorization when indirect limits are supported </br>
- experiment (experiment name, e.g. XENON10, theory, etc.)<br/>
- public (type="boolean" tag in XML -- true/false)<br/>
- spin-dependency or neither (SI,SD,N)<br/>
- x-units (X unit label)<br/>
- y-units (Y unit label)<br/>
- x-rescale (X-scale multiplier)<br/>
- y-rescale (Y-scale multiplier)<br/>
<br/>
Downloaded XML files may containg a "nomhash" tag. You don't need this; this is generated by the website and tells the database about the limit's "greatest hits" status.<br/>
</p>

 <p><h4>XML Examples</h4>
 </br> You can download an example XML file <%= link_to "here", :action => :download_ex %> and a template XML file (with helpful comments)  <%= link_to "here", :action => :download_temp %>.
 </p>

<h3>Bug / Feedback Reporting</h3>
<p>To report a bug or give other site-related feedback, please <a href="http://dmtools.brown.edu/contact">contact the site custodians</a>. 

 {% end block content %}
