{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

{% endblock %}

<h2>Privacy Policy</h2>
<p>Usernames, passwords, email addresses, and personal limits and plots are stored on our server. Passwords are encrypted and are not accessible by the system administrator. We do not share your personal information with any external agencies under any circumstances.</p>

<p>Data generated through DMTools is free for use in any publications. When using plots or limit data generated through DMTools, please use a citation to the website.</p>
